## Python Variables

In [1]:

my_number = 23
my_other_number = 44

In [2]:
my_number + my_other_number

67

In [3]:
my_string = 'hello world!'

In [5]:
my_other_string = 'Python is a cool programming language'

In [6]:

print(my_string)

hello world!

In [ ]:
#Comment
"""
this is a multiline comment
this is a comment
"""

In [10]:
joined_string = my_string + my_other_string
joined_string

'hello world!Python is a cool programming language'

In [9]:

type(my_number)

int

In [8]:

type(my_string)

str

### Lists

In [17]:
names = ['Jane Doe','Ashly White', 'John Doe', 'James CLiff']

In [18]:
names_numbers =['Jane Doe','Ashly White', 'John Doe', 34, 45]

In [19]:

print(names[0])

Jane Doe

In [20]:

names[0] = 'Donald Trump'

In [21]:
names

['Donald Trump', 'Ashly White', 'John Doe', 'James CLiff']

In [23]:

print(names[0:2])

['Donald Trump', 'Ashly White']

In [24]:

names.append('Adam Scott')

In [25]:
names

['Donald Trump', 'Ashly White', 'John Doe', 'James CLiff', 'Adam Scott']

### Tuples

In [30]:
my_tuple = (1.2,53,63,23,76)
my_tuple

(1.2, 53, 63, 23, 76)

In [31]:

from_tuple = list(my_tuple)
from_tuple

[1.2, 53, 63, 23, 76]

In [32]:

len(my_tuple)

5

In [42]:
age = 25

In [46]:

if age > 18:
    print('You are over 18')
else:
    print('You are not old enough')

You are over 18

In [47]:
if age == 18:
    print('You are exactly 18')
elif age > 18:
    print('You are old enough')
else:
    print('You are still young')

You are old enough

In [50]:
for d in range(0,5):
    print(d)

0
1
2
3
4

In [51]:
for i in range(0,5):
    print(i, '', end='')

0 1 2 3 4

In [52]:

names = ['Jane Doe', 'Steven Spil', 'Cartesian Plane', 'Remove Later']

In [53]:
for n in names:
    print(n)

Jane Doe
Steven Spil
Cartesian Plane
Remove Later

## Python Functions

<br>
`add_two_numbers` is a function that takes two numbers and adds them together.

In [54]:
def add_two_numbers(x,y):
    print('this is adding stuff up!')
    result = x + y
    return result

In [55]:

add_two_numbers(23, 25)

this is adding stuff up!

48

In [56]:

print(result)

NameError: name 'result' is not defined

<br>
# NumPy

In [ ]:
import numpy as np

<br>
## Creating Arrays

Create a list and convert it to a numpy array

In [ ]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

<br>
Or we can just pass in a list directly

In [ ]:
y = np.array([4, 5, 6])
y

<br>
Pass in a list of lists to create a multidimensional array.

In [ ]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

<br>
Use the shape method to find the dimensions of the array. (rows, columns)

In [ ]:
np.shape(m)

<br>
`arange` returns evenly spaced values within a given interval. similar to python's built in range function

In [ ]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

<br>
`reshape` returns an array with the same data with a new shape. only works when the number of rows multplied by the number of columns is equal to the number of elements in the array

In [ ]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

<br>
`linspace` returns evenly spaced numbers over a specified interval.

In [ ]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

<br>
`resize` changes the shape and size of array in-place.

In [ ]:
o.resize(3, 3)
o

<br>
`ones` returns a new array of given shape and type, filled with ones.

In [ ]:
np.ones((3, 2))

<br>
`zeros` returns a new array of given shape and type, filled with zeros.

In [ ]:
np.zeros((2, 3))

<br>
`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [ ]:
np.eye(3)

<br>
`diag` extracts a diagonal or constructs a diagonal array.

In [ ]:
y
np.diag(y)

<br>
Create an array using repeating list (or see `np.tile`)

In [ ]:
np.array([1, 2, 3] * 3)

<br>
Repeat elements of an array using `repeat`.

In [ ]:
np.repeat([1, 2, 3], 3)

<br>
#### Combining Arrays

In [ ]:
p = np.ones([2, 3], int)
p

<br>
Use `vstack` to stack arrays in sequence vertically (row wise).

In [ ]:
np.vstack([p, 2*p])

<br>
Use `hstack` to stack arrays in sequence horizontally (column wise).

In [ ]:
np.hstack([p, 2*p])

<br>
## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [ ]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

In [ ]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

In [ ]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

<br>
**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [ ]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

In [ ]:
z = np.array([y, y**2])
print(np.shape(z))
print(len(z)) # number of rows of array

<br>
Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [ ]:
z = np.array([y, y**2])
z

<br>
The shape of array `z` is `(2,3)` before transposing.

In [ ]:
z.shape

<br>
Use `.T` to get the transpose.

In [ ]:
z.T

<br>
The number of rows has swapped with the number of columns.

In [ ]:
z.T.shape

<br>
Use `.dtype` to see the data type of the elements in the array.

In [ ]:
z.dtype

<br>
Use `.astype` to cast to a specific type.

In [ ]:
z = z.astype('f')
z.dtype

<br>
## Math Functions

Numpy has many built in math functions that can be performed on arrays.

In [ ]:
a = np.array([-4, -2, 1, 3, 5])

In [ ]:
a.sum()

In [ ]:
a.max()

In [ ]:
a.min()

In [ ]:
a.mean()

In [ ]:
a.std()

<br>
`argmax` and `argmin` return the index of the maximum and minimum values in the array.

In [ ]:
a.argmax()

In [ ]:
a.argmin()

<br>
## Indexing / Slicing

In [ ]:
s = np.arange(0,13,1)**2
s

<br>
Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [ ]:
s[0], s[4], s[-1]

<br>
Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [ ]:
s[1:5]

<br>
Use negatives to count from the back.

In [ ]:
s[-4:]

<br>
A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [ ]:
s[-5::-3]

<br>
Let's look at a multidimensional array.

In [ ]:
r = np.arange(36)
r.shape

In [ ]:
r = np.arange(36)
r.resize((6, 6))
r

<br>
Use bracket notation to slice: `array[row, column]`

In [ ]:
r[2, 3]

<br>
And use : to select a range of rows or columns

In [ ]:
r[3, 3:7]

<br>
Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [ ]:
r[:2, :-1]

<br>
This is a slice of the last row, and only every other element.

In [ ]:
r[-1, 0:-1:2]

<br>
We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [ ]:
r[r > 30]

<br>
Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [ ]:
r[r > 30] = 30
r

<br>
### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [ ]:
test = np.random.randint(0,10,(4,3))
test

<br>
Iterate by row:

In [ ]:
for row in test:
    print(row)

<br>
Iterate by index:

In [ ]:
for i in range(len(test)):
    print(test[i])

<br>
Iterate by row and index:

In [ ]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

<br>
Use `zip` to iterate over multiple iterables.

In [ ]:
test2 = test**2
test2

In [ ]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)